<template>
  <div class="container">
    <div>
      <input type="text" v-model="newItem" id="input">
      <button @click="addItem" id="add-btn">Add</button>
      <ul>
        <li v-for="item in list" @click="removeItem(item)" :class="{'marked':item.marked}">
          {{ item.name }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      list:[],
      newItem:'',
    }
  },
  methods:{
    addItem(){
      this.list.push({name:this.newItem,marked:false})
      this.newItem = ''
    },
    removeItem(item){
      if (item.marked) {
        this.list.splice(this.list.indexOf(item),1)
      } else {
        item.marked = true
      }
    }
  }
}
</script>

<style>
.marked {
  color:red;
}
ul > li {
  list-style: none;
  padding: 0;
}
ul {
  padding: 0;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
